{% extends 'base/layout.html' %}
{% block body %}
<body>
	<div class="splash active">
		<div class="splash-icon"></div>
	</div>

	<div class="wrapper">
		{% include "includes/_sidenav-hr.html" %}
		<div class="main">
			{% include "includes/_navbar-hr.html" %}
			<main class="content">
				<div class="container-fluid">

					<div class="header">
						<h1 class="header-title">
							Clients
						</h1>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li>
								<li class="breadcrumb-item"><a href="#">Pages</a></li>
								<li class="breadcrumb-item active" aria-current="page">Users and Applicants</li>
							</ol>
						</nav>
					</div>
					<div class="row">
						<div class="col-xxl-9">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-right">
										<a href="#" class="mr-1">
											<i class="align-middle" data-feather="refresh-cw"></i>
										</a>
										<div class="d-inline-block dropdown show">
											<a href="#" data-toggle="dropdown" data-display="static">
												<i class="align-middle" data-feather="more-vertical"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
											</div>
										</div>
									</div>
									<h5 class="card-title mb-0">Users</h5>
								</div>
								<div class="card-body">
									<table id="datatables-clients" class="table table-striped" style="width:100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Name</th>
												<th>Access Level</th>
												<th>Email</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											{% for user in users %}
											<tr>
												<td><img src="{{ url_for('static', filename='img/avatars/avatar.jpg')}}" width="32" height="32" class="rounded-circle my-n1" alt="Avatar"></td>
												<td>{{ user.name }}</td>
												<td>{{ user.role }}</td>
												<td>{{ user.email }}</td>
												<td><span class="badge badge-success">Active</span></td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="col-xxl-3">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-right">
										<a href="#" class="mr-1">
											<i class="align-middle" data-feather="refresh-cw"></i>
										</a>
										<div class="d-inline-block dropdown show">
											<a href="#" data-toggle="dropdown" data-display="static">
												<i class="align-middle" data-feather="more-vertical"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
											</div>
										</div>
									</div>
									<h5 class="card-title mb-0">{{current_user.name }}</h5>
								</div>
								<div class="card-body">
									<div class="row no-gutters">
										<div class="col-sm-3 col-xl-12 col-xxl-4 text-center">
											<img src="{{ url_for('static', filename='img/avatars/avatar-3.jpg')}}" width="64" height="64" class="rounded-circle mt-2" alt="Angelica Ramos">
										</div>
										<div class="col-sm-9 col-xl-12 col-xxl-8">
											<strong>About {{ current_user.name}}</strong>
											<p>A brief bio about The user</p>
										</div>
									</div>

									<table class="table table-sm my-2">
										<tbody>
											<tr>
												<th>Name</th>
												<td>{{current_user.name }}</td>
											</tr>
											<tr>
												<th>Company</th>
												<td>Omnicontact </td>
											</tr>
											<tr>
												<th>Occupation</th>
												<td>Omnicontact - {{ current_user.role }}</td>
											</tr>
											<tr>
												<th>Email</th>
												<td>{{ current_user.email }}</td>
											</tr>
											<tr>
												<th>Phone</th>
												<td>{{current_user.phone }}</td>
											</tr>
											<tr>
												<th>Website</th>
												<td>omnicontact.biz</td>
											</tr>
											<tr>
												<th>Status</th>
												<td><span class="badge badge-success">Active</span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			{% endblock %}
		</div>

	</div>

	<svg width="0" height="0" style="position:absolute">
		<defs>
			<symbol viewBox="0 0 512 512" id="ion-ios-pulse-strong">
				<path
					d="M448 273.001c-21.27 0-39.296 13.999-45.596 32.999h-38.857l-28.361-85.417a15.999 15.999 0 0 0-15.183-10.956c-.112 0-.224 0-.335.004a15.997 15.997 0 0 0-15.049 11.588l-44.484 155.262-52.353-314.108C206.535 54.893 200.333 48 192 48s-13.693 5.776-15.525 13.135L115.496 306H16v31.999h112c7.348 0 13.75-5.003 15.525-12.134l45.368-182.177 51.324 307.94c1.229 7.377 7.397 11.92 14.864 12.344.308.018.614.028.919.028 7.097 0 13.406-3.701 15.381-10.594l49.744-173.617 15.689 47.252A16.001 16.001 0 0 0 352 337.999h51.108C409.973 355.999 427.477 369 448 369c26.511 0 48-22.492 48-49 0-26.509-21.489-46.999-48-46.999z">
				</path>
			</symbol>
		</defs>
	</svg>
	<script src="js/app.js"></script>

	<script>
		$(function() {
			// Datatables clients
			$("#datatables-clients").DataTable({
				responsive: true,
				order: [
					[1, "asc"]
				]
			});
		});
	</script>
</body>


<!-- Mirrored from spark.bootlab.io/pages-clients.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Dec 2020 09:01:15 GMT -->
</html>